/*
 *
 *= require_tree .
 *= require_self
 *= require jquery.dataTables
 *
 */

div.search {
  border: 2px solid #c9dff0;
  padding: 10px;
  margin: 20px;
}

div.auto_complete {
  position: absolute;
  background: none repeat scroll 0% 0% #FFF;
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  overflow: hidden;
  margin: 10px 0;
  z-index: 1000;
  outline: none;
}


div.inline {
  display: inline-block;
}
div.content_min {
  font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
  overflow: hidden;
  width: 200px;
  height: 55px;
  padding: 5px 5px;
}

span.content_title {
  font-weight: bolder;
  font-size: 16px;
}

span.content_type {
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 12px;
  color: #999;
}

span.content_all {
  position: absolute;
  left: 30%;
  height: 45px;
}

.output {
  border: 1px solid grey;
  position: absolute;
}
